body {
    font-family: sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

#component {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 60px 100px;
    width: 80%;
    max-width: 800px;
 
}

#status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
}

.card {
    background-color: #DDF6D2;
    margin: 0 5px;
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
    flex: 1;
}

.card h3{
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 600;
}
.card p {
    font-size: 19px;
    font-weight: bold;
    color: #000000;
}

#screen {
  position: relative;
  background-color: #ECFAE5;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 1px;

}

#seesaw {
  position: relative;
  width: 400px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 45px;
}

#bar {
  position: absolute;
  bottom: 105px;
  width: 100%;
  height: 25px;
  background-color: #8B4513;
  z-index: 10;
}

#pivot {
  
  position: absolute;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 35px solid #432323;  
  z-index: 5;
}


#floor{

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #B0DB9C;
}


#buttonControl {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#resetButton {
   
    bottom: 20px;
    left: 50%;
    background-color: #59AC77;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;

}
#resetButton:hover {
    background-color: #2F5755;
    transform: scale(1.05);
}

#lastActions {

  margin-top: 15px;
  height: 100px;
  background: white;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
}
#preview {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #91C4C3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
 
}

.object {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;


  text-align: center;
  bottom: 110px;       
       
}


#lastActions{
  width: 95%;
  height: 200px;    
  background-color: #FCF9EA;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  overflow-y: auto;  
}

.last-item {

  border-radius: 6px;
  padding: 6px 8px;
  font-size: 14px;
  color: #000000;
  
}
